; ===============================
;  celery beat supervisor config
; ===============================

[program:celerybeat]
{% if celery_project_name %}
command=celery beat -A {{ celery_project_name }} --schedule /var/lib/celery/celerybeat.db --loglevel=INFO
{% else %}
command=celery beat --schedule /var/lib/celery/celerybeat.db --loglevel=INFO
{% endif %}

directory={{ celery_project_dir }}
user={{ celery_user_name }}

numprocs=1

stdout_logfile={{ celery_log_dir }}/beat.log
stderr_logfile={{ celery_log_dir }}/beat.log

autostart=true
autorestart=true
startsecs=10
priority=999
