; =================================
;  celery worker supervisor config
; =================================

[program:celeryworker]
{% if celery_project_name %}
command=celery worker -A {{ celery_project_name }} --loglevel=INFO
{% else %}
command=celery worker --loglevel=INFO
{% endif %}

directory={{ celery_project_dir }}
user={{ celery_user_name }}

numprocs=1

stdout_logfile={{ celery_log_dir }}/worker.log
stderr_logfile={{ celery_log_dir }}/worker.log

autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
killasgroup=true
priority=998

environment=LANG=en_US.UTF-8
